body {
  margin: 0;
}

/* Menu-toggle */
.header-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}

/* menu-bar */
.menu-toggle {
  padding-top: 50px;
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมาส์ ให้คลิกได้ */
}
.menu-toggle div {
  width: 35px;
  height: 4px;
  background-color: #000;
  margin: 6px 0;
}

/* logo */
.logo-container {
  margin-left: 40px;
  padding-top: 15px;
}

/* Sidebar */
.sidebar {
  position: fixed;
  width: 250px;
  /* height: 100%; */
  background-color: #343a40;
  padding-top: 20px;
  transition: all 0.3s ease;

  height: calc(100vh - 120px); /* Sidebar เต็มหน้าจอ */
  z-index: 1000;
  border-radius: 0 15px 0 15px; /* ขอบมน (บนซ้าย, บนขวา, ล่างซ้าย, ล่างขวา) */
}
.sidebar.show {
  transform: translateX(0);
}

.sidebar a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;

  font-size: 25px;
  align-items: center;
}

/* ขยับเฉพาะ text ให้ห่างจาก icon */
.sidebar a .sidebar-text {
  flex-grow: 1; /* ขยับ text ไปทางขวาสุด */
  margin-left: 10px;
  text-align: left;
}

.sidebar.collapsed {
  width: 80px;
}
.sidebar.collapsed .sidebar-text {
  display: none; /* ซ่อนข้อความเมื่อ Sidebar ถูกย่อ */
}
.sidebar.collapsed a {
  justify-content: center; /* จัดไอคอนให้อยู่ตรงกลางในแนวราบ */
}
.sidebar.collapsed a i {
  font-size: 30px; /* ขนาดไอคอนใหญ่ขึ้นเล็กน้อย */
  margin: 0; /* เอาระยะห่างออกเพื่อจัดให้อยู่ตรงกลาง */
}

/* Main Content */
.main-content {
  margin-left: 250px; /* Default margin when sidebar is expanded */
  padding: 20px;
  transition: all 0.3s ease;
}

.sidebar.collapsed ~ .main-content {
  margin-left: 80px;
}

.main-content.shifted {
  margin-left: 100px;
}

/* Media Query: ย่อ Sidebar เมื่อหน้าจอแคบ */
@media (max-width: 768px) {
  .sidebar {
    width: 80px; /* ย่อ Sidebar ให้เหลือไอคอนอย่างเดียว */
  }

  .sidebar .sidebar-text {
    display: none; /* ซ่อนข้อความใน Sidebar */
  }

  .sidebar a {
    justify-content: center; /* ไอคอนอยู่ตรงกลาง */
  }

  .main-content {
    margin-left: 80px;
  }
}
