body {
  margin: 0;
  padding: 0;
}
.container-fluid {
  margin: 0;
  padding: 0;
}

/* Menu-toggle */
.header-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}

/* menu-bar */
.menu-toggle {
  padding-top: 50px;
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมาส์ ให้คลิกได้ */
}
.menu-toggle div {
  width: 35px;
  height: 4px;
  background-color: #000;
  margin: 6px 0;
}

/* logo */
.logo-container {
  margin-left: 40px;
  padding-top: 15px;
}

.flex-container {
  display: flex; /* ใช้ Flexbox layout */
  height: calc(100vh - 120px); /* ความสูงของ flex container */
  overflow: hidden; /* ป้องกันการเลื่อนที่ไม่ต้องการ */
}

/* Sidebar */
.sidebar {  
  align-items: center; /* จัดตำแหน่งแนวตั้ง */
  width: 380px; /* ปรับขนาด Sidebar */
  background-color: #343a40;
  padding-top: 20px;
  transition: all 0.3s ease;
  z-index: 1000; /* ให้ Sidebar อยู่เหนือเนื้อหาอื่น */
}
.sidebar.show {
  transform: translateX(0);
}

.sidebar a {
  display: flex;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  align-items: center;
  margin-bottom: 10px; /* เพิ่มช่องว่างระหว่างลิงก์แต่ละบรรทัด */
}
/* เมื่อเลื่อนเมาส์ไปที่ลิงก์ใน Sidebar */
.sidebar a:hover {
  background-color: #00effe; /* เปลี่ยนสีพื้นหลังเมื่อ Hover */
  color: #000; /* เปลี่ยนสีตัวอักษรเมื่อ Hover */
}

/* ขยับเฉพาะ text ให้ห่างจาก icon */
.sidebar a .sidebar-text {
  flex-grow: 1; /* ขยับ text ไปทางขวาสุด */
  margin-left: 25px; /* ระยะห่างจากไอคอน */
  text-align: left;
}

/* Sidebar เมื่อย่อ */
.sidebar.collapsed {
  width: 0 0 80px; /* ปรับความกว้างของ Sidebar */
}
.sidebar.collapsed .sidebar-text {
  display: none; /* ซ่อนข้อความเมื่อ Sidebar ถูกย่อ */
}
.sidebar.collapsed a {
  justify-content: center; /* จัดไอคอนให้อยู่ตรงกลางในแนวราบ */
}
.sidebar.collapsed a i {
  font-size: 30px; /* ขนาดไอคอนใหญ่ขึ้นเล็กน้อย */
  margin: 0; /* เอาระยะห่างออกเพื่อจัดให้อยู่ตรงกลาง */
}

/* Main Content */
.main-content {
  padding: 20px;
  transition: all 0.3s ease;
  background-color: #9b9b9b; /* กำหนดสีพื้นหลัง */
  flex: 1; /* ขยายให้เต็มพื้นที่ที่เหลือ */
}

.sidebar.collapsed ~ .main-content {
  margin-left: 80px; /* ปรับ margin-left ให้เหมาะสมเมื่อ Sidebar ถูกยุบ */
}

.main-content.shifted {
  margin-left: 100px;
}

/* Media Query: ย่อ Sidebar เมื่อหน้าจอแคบ */
@media (max-width: 768px) {
  .sidebar {
    width: 80px; /* ย่อ Sidebar ให้เหลือไอคอนอย่างเดียว */ /* ขนาด Sidebar ที่แคบลง */
  }

  .sidebar .sidebar-text {
    display: none; /* ซ่อนข้อความใน Sidebar */
  }

  .main-content {
    margin-left: 80px; /* ปรับ margin-left ให้เหมาะสมเมื่อ Sidebar แคบลง */
  }

}
