body {
  margin: 0;
  padding: 0;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

/* ==============Menu-toggle============== */
.header-container {
  display: flex;
  justify-content: flex-start;
  margin-left: 50px;
}

/* ==============menu-bar=================== */
.menu-toggle {
  padding-top: 50px;
  cursor: pointer;
  /* เปลี่ยนเคอร์เซอร์เมาส์ ให้คลิกได้ */
}

.bar1,
.bar2,
.bar3 {
  background-color: #970c10;
}

.menu-toggle div {
  width: 35px;
  height: 4px;
  background-color: #0a0a00;
  margin: 6px 0;
}

.menu-toggle:hover div {
  background-color: #ff151c;
  /* สีที่จะเปลี่ยนเมื่อ hover */
}

/* =================logo================= */
.logo-container {
  margin-left: 40px;
  padding-top: 15px;
}

/* ==================Drop down (user) =========== */
.profile-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
  gap: 10px;
  /* เพิ่มระยะห่างระหว่างองค์ประกอบ */
}

.profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info {
  text-align: right;
}

.profile-id {
  font-size: 0.8rem;
  color: #b02431;
  /* สีตามตัวอย่าง */
  margin-bottom: -5px;
  /* ขยับให้บรรทัดชิดกัน */
}

.profile-name {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}

.dropdown-menu {
  right: auto;
  left: 0;
  min-width: 200px;
  /* กำหนดความกว้างของเมนู */
}

.dropdown-item i {
  margin-right: 10px;
  /* เพิ่มระยะห่างระหว่างไอคอนกับข้อความ */
}

.dropdown-item:hover {
  background-color: #db6b6e;
  color: white;
  border-radius: 15px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.btn {
  border: none;
  background-color: #ffffff;
}

.flex-container {
  display: flex;
  /* ใช้ Flexbox layout */
  height: calc(100vh - 120px);
  /* ความสูงของ flex container */
  overflow: hidden;
  /* ป้องกันการเลื่อนที่ไม่ต้องการ */
}

/* =============Sidebar================== */
.sidebar {
  align-items: center;
  /* จัดตำแหน่งแนวตั้ง */
  width: 380px;
  /* ปรับขนาด Sidebar */
  background-color: #970c10;
  padding-top: 20px;
  transition: all 0.3s ease;
  z-index: 1000;
  /* ให้ Sidebar อยู่เหนือเนื้อหาอื่น */
}

.sidebar.show {
  transform: translateX(0);
}

.sidebar a {
  display: flex;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  align-items: center;
  margin-bottom: 10px;
  /* เพิ่มช่องว่างระหว่างลิงก์แต่ละบรรทัด */
}

/* เมื่อเลื่อนเมาส์ไปที่ลิงก์ใน Sidebar */
.sidebar a:hover {
  background-color: #db6b6e;
  /* เปลี่ยนสีพื้นหลังเมื่อ Hover */
  color: #fff;
  /* เปลี่ยนสีตัวอักษรเมื่อ Hover */
  margin: 10px;
  border-radius: 15px;
  border: 1px solid #0a0a00;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* ขยับเฉพาะ text ให้ห่างจาก icon */
.sidebar a .sidebar-text {
  flex-grow: 1;
  /* ขยับ text ไปทางขวาสุด */
  margin-left: 25px;
  /* ระยะห่างจากไอคอน */
  text-align: left;
}

/* Sidebar เมื่อย่อ */
.sidebar.collapsed {
  width: 0 0 80px;
  /* ปรับความกว้างของ Sidebar */
}

.sidebar.collapsed .sidebar-text {
  display: none;
  /* ซ่อนข้อความเมื่อ Sidebar ถูกย่อ */
}

.sidebar.collapsed a {
  justify-content: center;
  /* จัดไอคอนให้อยู่ตรงกลางในแนวราบ */
}

.sidebar.collapsed a i {
  font-size: 30px;
  /* ขนาดไอคอนใหญ่ขึ้นเล็กน้อย */
  margin: 0;
  /* เอาระยะห่างออกเพื่อจัดให้อยู่ตรงกลาง */
}

/* ===============Main Content================= */
.main-content {
  padding: 20px;
  transition: all 0.3s ease;
  background-color: #dbdbdb;
  /* กำหนดสีพื้นหลัง */
  flex: 1;
  /* ขยายให้เต็มพื้นที่ที่เหลือ */
}

.sidebar.collapsed~.main-content {
  margin-left: 80px;
  /* ปรับ margin-left ให้เหมาะสมเมื่อ Sidebar ถูกยุบ */
}

.main-content.shifted {
  margin-left: 100px;
}




/*----------ค้นหา----------*/
.search-section {
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  margin: 20px;
  border-radius: 8px;
}

.search-header {
  font-size: 18px;
  display: flex;
  align-items: center;
  color: #333;
  margin: 0 0 10px;
}

.search-header .fa-search {
  margin-right: 8px;
}

.search-form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: center;
}

.search-form label {
  padding-right: 10px;
}

.search-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* btn รายงานระบบ  รายงานบุคคล */
.form-button {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.full-width-button {
  width: 50%;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.full-width-button:hover {
  background-color: #cacaca;
}

.full-width-button:focus {
  outline: none;
  background-color: #cacaca;
}

/*---Btn ค้นหา ล้าง---*/
.form-buttons {
  grid-column: span 2;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.form-buttons report {
  display: flex;
  flex-direction: column;
}

/*---Btn ค้นหา---*/
.search-button {
  background-color: #007bff;
  width: 110px;
  height: 45px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.search-button:focus {
  outline: none;
}

/*---Btn ล้าง---*/
.reset-button {
  background-color: #e0e0e0;
  width: 110px;
  height: 45 px;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #d0d0d0;
}

.reset-button:focus {
  outline: none;
}

/*----------ค้นหา ล้าง(end)----------*/

/*----------ตาราง----------*/
.table-section {
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  margin: 20px;
  border-radius: 8px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.data-table td {
  background-color: white;
  /*border: 1px solid #ddd;*/
  border: none;
  padding: 8px;
  text-align: left;
}

.data-table th {
  background-color: #cacaca;
  /*border: 1px solid #ddd;*/
  border: none;
  padding: 8px;
  text-align: left;
}

.data-table th.status {
  text-align: center;
}

/*----------btn edit----------*/
.icon-button {
  border: none;
  background-color: white;
  color: #000;
  padding: 5px 10px;
}

.icon-button :hover {
  color: #4e4e4e;
}

#iconbutton {
  text-align: center;
}

/*----------btn edit(end)----------*/

/*----------ตาราง(จบ)----------*/

/* Alart */
.custom-alert {
  display: none;
  /* ซ่อนกล่องแจ้งเตือนโดยเริ่มต้น */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* พื้นหลังโปร่งแสง */
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* ให้อยู่เหนือเนื้อหาอื่น */
  display: flex;
  /* ใช้ flex เพื่อจัดวางให้อยู่กลาง */
}

.custom-alert-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  /* กำหนดความกว้างให้พอดีกับเนื้อหา */
}

.custom-alert-content h3 {
  margin-top: 0;
  font-size: 20px;
}

.report-details,
.report-time {
  margin: 15px 0;
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
}

.time-inputs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.time-field label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.time-field input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.confirm-button {
  background-color: #28a745;
  /* สีเขียว */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.confirm-button:hover {
  background-color: #218838;
  /* สีเมื่อ hover */
}

.confirm-button:focus {
  outline: none;
}




/* Media Query: ย่อ Sidebar เมื่อหน้าจอแคบ */
@media (max-width: 768px) {
  .sidebar {
    width: 80px;
    /* ย่อ Sidebar ให้เหลือไอคอนอย่างเดียว */
    /* ขนาด Sidebar ที่แคบลง */
  }

  .sidebar .sidebar-text {
    display: none;
    /* ซ่อนข้อความใน Sidebar */
  }

  .main-content {
    margin-left: 80px;
    /* ปรับ margin-left ให้เหมาะสมเมื่อ Sidebar แคบลง */
  }
}