<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <!-- s -->
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="flex bg-white shadow-lg rounded-lg overflow-hidden">
        <div class="w-1/2">
            <img class="mb-40" height="" src="/public/img/MFU_MCH.png" alt="logo">
        </div>
        <div>
            <h1 class="text-2xl font-bold text-white mb-6">
                MFU_MCH
            </h1>
            <form class="w-full max-w-sm">
                <div class="mb-4">
                    <input class="w-full px-4 py-2 text-lg borded-full focus:outline-none" placeholder="ID" type="text">
                </div>
                <div class="mb-4">
                    <input class="w-full px-4 py-2 text-lg border rounded-full focus:outline-none" placeholder="Password" type="password">
                </div>
                <div class="mb-4">
                    <button class="w-full px-4 py-2 text-lg text-white bg-gray-800 rounded-full hover:bg-gray-700 focus:outline-none">เข้าสู่ระบบ</button>
                </div>
                <div class="text-center">
                    <a class="text-white" href="#">ลงทะเบียนเข้าใช้งาน</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>